.playerDetails {
  display: flex;
  border-bottom: 3px solid green;
  margin-bottom: 50px;
  margin-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.palyerImage {
  width: 200px;
  padding-top: 15px;
  margin: 0px 55px 0px 25px;
  border-radius: 5px;
}
.player-name {
  font-weight: 400;
  font-size: 23px;
}
p {
  font-size: 22px;
}
.player-button {
  background-color: rgb(211, 17, 17);
  margin-bottom: 20px;
  color: white;
  width: 250px;
  height: 34px;
  padding: 1px 6px;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
}
